.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.home-lobby {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
