.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.timer-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.history-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-font {
  font-size: 2.5vh;
}
