.create-game-button {
  width: 30vw;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 1vh;
}

.game-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  width: 30vw;
  border: 2px solid grey;
}

.time-control-button {
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.choose-side-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-button {
  height: 5vh;
  width: auto;
  border: none;
}


.random-color-button {
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.lobby-games-container {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: auto;
  border: 2px solid grey;
  margin-left: 20px;
}

.lobby-row {
  color: white;
  font-size: 20px;
}
