.timer {
  height: auto;
  width: auto;
  padding: 0vh 1vh;
  background-color: var(--custom-color-brand);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-inactive {
  opacity: 0.33;
}

.timer-font {
  font-size: 2.5vmax;
  color: var(--custom-bg-color);
  font-family: "Noto Sans", Sans-Serif; /* monospace font to avoid wiggle */
}

.timer-timeout {
  background-color: red;
}
